
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Alexandru's Personal Page</title>
		<meta name="description" content="Personal Website Shenanigans">
		<meta name="author" content="Alexandru Ivascu">
		<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
		{{#each css}}
        	<link rel="stylesheet" href="/css/{{this}}">
    	{{/each}}
	</head>
	<body>
		<header>
			<h1>Alexandru Ivascu</h1>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
			<img src="{{host}}/profilePicture.png">
			<br><br><br><br><br><br>
			<p><b>Nationality:</b> Romanian</p>
			<img src="/public/photos/contact.png"><p>0040744547087</p>
			<p><b>Date of Birth:</b> 24/07/2000</p>
			<p><b>Gender:</b> Male</p>
			<img src="{{host}}/mail.png"><p>alexandru.ivascu247@gmail.com</p>
			<p><b>Address: </b>Constantin Bratescu St., Ap. 3, no. 10A, 900670 Constanta (Romania)</p>
			<table>
  				<tr>
    				<th>Skill</th>
    				<th>Aptitude</th>
				</tr>
  				<tr>
    				<td>Python</td>
    				<td>80%</td>
  				</tr>
  				<tr>
    				<td>C++</td>
    				<td>90%</td>
  				</tr>
			</table> 
		</main>
	</body>
</html>