
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #696969;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: white;
}

p {
	font-size: 1.5vw;
}

h1 {
	padding: 2.6vw;
	float: left;
	font-size: 3vw;
	margin-left: 6vw;
}

h2 {
	font-size: 2.5vw;
	margin: 1vw;
	margin-left: 0.6vw;
}

h3 {
	font-size: 2vw;
	margin: 1vw;
	margin-left: 0.6vw;
}


main {
	max-width: 80%;
	margin: auto;
	margin-top: 2em;
	padding: 2em;
	box-sizing: border-box;
	background-color: #4B0082;
}


/* TABLES */
table, th, td {
	font-size: 1.5vw;
	border: 1px solid black;
	text-align: center; 
   	vertical-align: middle;
}
table {
	border-collapse: collapse;
	margin: auto;
}

tr:nth-child(odd) {
	background: #483D8B;
}

